

/*PANEL LATERAL*/

.menu0{
  position: fixed;
  left: 0%;
  font-family: sans-serif;
  text-align: center;
  transition: left 0.5s;
  z-index: 99;
  opacity: .8;
  
}
.menu0:hover{
  opacity: 1;
}
.checkbox0:checked ~ .menu0{
  left: 30%;
  border-radius: 0 0.5rem 0.5rem 0;
  z-index: 30;
}
.left-panel{
  display: flex;
  width: 30%;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 98;
  top: 0;
  left: -40%;
  align-items: center;
  justify-content: center;
  transition: left 0.5s;
  overflow: hidden;
}
.checkbox0:checked ~.left-panel{
  left: 0;
}

.left-panel ul li{
  list-style: none;
  text-align: center;
  padding: 0 .5rem;
  margin: 0 .3rem;
  top: 10px;
  font-weight: bold;
}
.checkbox0{
  display: none;
}
.logoside{
  
  width: 60%;
  padding-top: 0px;
  padding:10px;
}

/* galeria fotos*/
.bodi {
  -webkit-box-align: center;
          align-items: center;
  background: #1d2224;
  display: -webkit-box;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
          justify-content: center;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);/*.125*/
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}
.slider::before, .slider::after {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 0%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 60s linear infinite;
          animation: scroll 60s linear infinite;
  display: -webkit-box;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
  color: #607c88;

}
.prueba {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


